<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script src="../bower_components/angular/angular.js"></script>

	<script src="js/myApp/myApp.js"></script>

	<script src="js/myApp/controller/CommandeCtrl.js"></script>

	<style>	
		tr.big td {
			font-weight : bold;
		}
	</style>
</head>
<body ng-controller="CommandeCtrl">
	<table>
		<tr ng-repeat="commande in commandes" 
			ng-class="{big: getTTC(commande) >= getBigTTC() }">
			<td><button ng-click="removeCommande($index)">X</button></td>
			<td>{{commande.ref}}</td>
			<td>{{commande.label}}</td>
			<td>{{commande.prix | currency}}</td>
			<td>
				<input type="number" ng-model="commande.quantite"/>
			</td>
			<td>
				{{getHT(commande) | currency}}
			</td>
			<td>
				{{getTTC(commande) | currency}}
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				{{getTotalHT() | currency}}
			</td>
			<td>
				{{getTotalTTC() | currency}}
			</td>
		</tr>
	</table>

<!-- 	<form ng-submit="addCommande()">
		Référence :	<input type="text" ng-model="toAdd.ref"/><br>
		Label : 	<input type="text" ng-model="toAdd.label"/><br>
		Prix :		<input type="number" ng-model="toAdd.prix"/><br>
		<input type="submit" value="Ajout"/>
	</form>
 -->
	<form ng-submit="addCommandeCatalogue()">
		Article :	<select ng-model="toAddCatalogue.article"
							ng-options="article.title for article in catalogue"></select>
		Quantité :	<input type="number" ng-model="toAddCatalogue.quantite"/><br>
		<input type="submit" value="Ajout"/>
	</form>

	<pre>{{toAddCatalogue|json}}</pre>

</body>
</html>