<!doctype html>
<html ng-app>
  <head>
   <script src="../bower_components/angular/angular.js"></script>


<!--     <script src="bower_components/angular/angular.js"></script> -->

  </head>
  <body>
    <div ng-show="user==undefined">
    	
      <label for="name">First Name : </label>
      <input type="text" name="name" ng-model="user" ng-model-options="{ updateOn: 'blur' }">
    </div>
    <div ng-show="user!=undefined && ami==undefined">
    	Hello {{user}}
    	</br>
    	<label for="ami">Veux tu jouer avec moi ? </label>
		   <input type="radio" name="reponsejoue" ng-value="true" ng-model="ami"> Oui
		   <input type="radio" name="reponsejoue" ng-value="false" ng-model="ami"> Non
		
		<pre>{{ami|json}}</pre>
    </div>
   	<div ng-show="ami!=undefined && ami==true">
    	<h1> viens on va jouer {{user}} ! </h1>
    	</div>
    <div ng-show="ami!=undefined && ami==false">
   		<h1>  je boude {{user}} ! </h1>
    
    
    </div>
    
  </body>
</html>
